#main-window #titlebar {
	height: 0 !important;
}

#TabsToolbar {
	visibility: collapse;
}

/* Window buttons */
.titlebar-buttonbox-container{
  position: fixed !important;
  overflow: clip !important;

  z-index: -1 !important;
  
  transition: var(--transition) !important;
  & *{transition: var(--transition) !important;}
  
  /* set position to right */
  right: 0px;
  top: 8px;
}

#PanelUI-button {
	margin-right: 28px;
}

:root{
  --buttonbox-right-wdt: var(--window-control-wdt);
  --buttonbox-right-hgt: 35px;
  
  --buttonbox-left-wdt: 0px;
  --buttonbox-left-hgt: 0px;
}

:root{
  --nav-rgt-btnbx-margin: var(--margin);
  --nav-rgt-btnbx-button: var(--toolbar-button-wdt);
  
  --nav-lft-btnbx-margin: 0px;
  --nav-lft-btnbx-button: 0px;
}

#main-window:is([sizemode="fullscreen"]) {
  --window-control-wdt:   0px !important;
  --buttonbox-left-hgt:   0px !important;
  --buttonbox-right-hgt:  0px !important;
  --nav-rgt-btnbx-margin: 0px !important;
  --nav-rgt-btnbx-button: 0px !important;
  --nav-lft-btnbx-margin: 0px !important;
  --nav-lft-btnbx-button: 0px !important;
  .titlebar-buttonbox-container {display: none !important;}
}

:root {
	--window-control-wdt: 140px;
}

:root{
  --window-control-gtk-max-wdt: 0px;
  --window-control-gtk-min-wdt: 0px;
}

@media (-moz-gtk-csd-maximize-button) { :root {--window-control-gtk-max-wdt: 40px;} }
@media (-moz-gtk-csd-minimize-button) { :root {--window-control-gtk-min-wdt: 40px;} }

@media (-moz-gtk-csd-available) {
  :root {
    --window-control-wdt: calc(
      40px
      + var(--window-control-gtk-min-wdt)
      + var(--window-control-gtk-max-wdt)
    );
  }
  
  /* GTK buttons design */
  .titlebar-button{
    .toolbarbutton-icon {
      background-image: none !important;
      stroke: none !important;
      -moz-context-properties: fill, fill-opacity !important;
    }
    
    &:hover .toolbarbutton-icon {
			background-color: color-mix(in srgb, var(--bt-col) 15%, transparent) !important;
		}

    margin-inline: 8px !important;
    padding: 0 !important;
    fill: var(--bt-col) !important;
    color: var(--bt-col) !important;
  }

	.titlebar-button .toolbarbutton-icon {
		background-color: color-mix(in srgb, var(--bt-col) 5%, transparent);
		appearance: none !important;
		border-radius: 100%;
		padding: 4px !important;
	}
  
	.titlebar-close   {appearance: -moz-window-button-close    !important;}
	.titlebar-min     {appearance: -moz-window-button-minimize !important;}
	.titlebar-max     {appearance: -moz-window-button-maximize !important;}
	.titlebar-restore {appearance: -moz-window-button-restore  !important;}
}

/* Sidebery */
#sidebar-header { 
	display: none
}

.sidebar-splitter{
	display: none !important;
}

/* #sidebar-box:hover + .sidebar-splitter, .sidebar-splitter:hover { */
/* 	display: block !important; */
/* } */

/* Floating search */
#urlbar[breakout-extend]{
	#urlbar-input {font-size: 23.5px !important;}
	#urlbar-input-container, .urlbar-input-container {height: 50px !important;}
	#urlbar-background {border-radius: 20px !important;}

	#urlbar-input-container, .urlbar-input-container {
		& > :is(box, image){
			height: 28px !important;
			margin-block: calc((50px - 28px) / 4) !important;
		}
	}

	position: fixed !important;
	z-index: 999999 !important;

	bottom: auto !important;
	top: 20vh !important;

	left: 18vw !important;
	right: 18vw !important;
	width: 64vw !important;

	&:before{
		content: "";
		position: fixed;
		pointer-events: none;
		border-radius: 11.5px;

		width: 100vw;
		height: 100vh;

		top: 0px;
		left: 0px;

		background-color: color-mix(in srgb, var(--lwt-accent-color) 80%, transparent);
	}
}

/* Content Outline */
/* if it not fullscreen video or floating window */
#main-window:not([inDOMFullscreen="true"])[chromehidden=""]{
    
  /* if navbar is not hidden in f11 fullscreen or not only navbar is visible in f11 or window is not maximized in clean mode */
  &:not(
    :is(
      :is([titlepreface*=""], [titlepreface*=""][titlepreface*=""])[inFullscreen="true"]),
      [titlepreface*=""]:is([sizemode="maximized"], [inFullscreen="true"], [gtktiledwindow="true"])
  ){
    
    /* add rounded corners and outline to browser content */
    #tabbrowser-tabbox {
      border-radius: 12 !important;
      border: 6px solid var(--lwt-accent-color);
      outline: none !important;
    }
    
    #tabbrowser-tabpanels::after {
      content: "";
      margin: -6px;
      border: 6px solid var(--lwt-accent-color);
      position: absolute;
      inset: 0;
      border-radius: 12px;
      box-shadow: 0 0 0 100px var(--lwt-accent-color) !important;
      clip-path: inset(0);
      pointer-events: none;
    }
  }
}
