@define-color blue #89b4fa;
@define-color red #f38ba8;
@define-color lavender #b4befe;
@define-color green #a6e3a1;

@define-color base00 #303446; /* Base */
/* base01 = "292c3c"; */
/* base02 = "414559"; */
/* base03 = "51576d"; */
/* base04 = "626880"; */
@define-color base05 #c6d0f5; /* Text */
/* base06 = "f2d5cf"; */
/* base07 = "babbf1"; */
@define-color base08 #e78284; /* Red */
@define-color base09 #ef9f76; /* Peach */
@define-color base0A #e5c890; /* Yellow */
/* base0B = "a6d189"; */
@define-color base0C #81c8be; /* Teal */
/* base0D = "8caaee"; */
/* base0E = "ca9ee6"; */
/* base0F = "eebebe"; */

/* window#waybar { */
/* 	background-color: transparent; */
/* } */

button {
	border: none;
	border-radius: 0;
}

#workspaces button {
	padding: 0 0.5em;
	background-color: transparent;
	color: @lavender;
	border: none;
	border-radius: 0;
}

window#waybar #workspaces button,
window#waybar #workspaces button.focused,
window#waybar #workspaces button.active {
	border: none;
}

#workspaces button.urgent {
	color: @red;
}

#cpu,
#temperature#cpu,
#gpu,
#temperature#gpu {
	padding: 0 5px;
}

#center,
#cpu-usage,
#gpu-usage,
#memory-usage,
#bluetooth,
#workspace,
#tray,
#custom-power-button,
#clock,
#network {
	background-color: @base00;
	border-radius: 0;
}

#cpu-usage,
#gpu-usage,
#memory-usage,
#bluetooth,
#network,
#clock {
	padding-right: 1em;
	margin-right: 0.4em;
}

#custom-power-button {
	padding-left: 1em;
	padding-right: 1.4em;
	background-color: @base08;
	color: @base00;
	margin-left: 0;
	margin-right: 0;
}

#cpu-usage,
#gpu-usage,
#memory-usage {
	margin-left: 0;
	padding-left: 0;
}

#tray {
	margin-left: 0;
	padding-left: 1em;
	padding-right: 1em;
	margin-right: 0.4em;
}

#window {
	padding-left: 0.8em;
	padding-right: 1em;
	margin-left: 0;
	margin-right: 0;
}

#time,
#workspace {
	padding-left: 0;
	padding-right: 0;
}

#clock {
	padding-left: 1em;
	padding-right: 1em;
}

#memory {
	padding-left: 0.4em;
}

#bluetooth {
	color: @base05;
	margin-right: 0;
	padding-left: 1em;
}

#bt {
	margin-left: 0;
	margin-right: 0;
}

#network,
#custom-net {
	padding-left: 1em;
	margin-left: 0;
}

#wireplumber {
	padding-left: 1em;
	padding-right: 1em;
}

#custom-workspace-icon {
	background-color: @base0A;
	color: @base00;
	padding-left: 1em;
	padding-right: 1em;
}

#custom-cpu-icon {
	background-color: @base0A;
	color: @base00;
	padding-left: 1em;
	padding-right: 1em;
	margin-right: 0.4em;
}

#custom-gpu-icon {
	background-color: @base0A;
	color: @base00;
	padding-left: 1em;
	padding-right: 1em;
	margin-right: 0.4em;
}

#custom-memory-icon {
	background-color: @base0A;
	color: @base00;
	padding-left: 1em;
	padding-right: 1em;
	margin-right: 0.4em;
}

#custom-clock-icon {
	background-color: @base09;
	color: @base00;
	padding-left: 1em;
	padding-right: 1.4em;
	margin-right: 0em;
}

#custom-network-icon {
	background-color: @base0C;
	color: @base00;
	padding-left: 1em;
	padding-right: 1.4em;
	margin-left: 0.4em;
	margin-right: 0;
}

#custom-bluetooth-icon {
	background-color: @blue;
	color: @base00;
	padding-left: 1em;
	padding-right: 1em;
}

#custom-audio-icon {
	background-color: @green;
	color: @base00;
	padding-left: 1em;
	padding-right: 1em;
}
